/*
	Scrippet.css
	Scrippet is a CSS template designed for including short sections of screenplay-formatted material in blog posts.
	Originally developed by John August - johnaugust.com
	Last modified by John August 8/21/08
	Modified by Matt Chapman 8/23/08
*/


div.scrippet {
	width: 430px;
	background: #fffffc;
	border: 1px solid #333;
	padding: 5px 14px 15px 14px;
	margin-bottom: 16px;
	margin-left: 40px;
}

.scrippet p {
	font:  .9em/1.3em Courier, "Courier New", monospace;
	margin: 0;
}

.scrippet .sceneheader,
.scrippet .action,
.scrippet .character {
	padding-top: 1.5ex;
}

.scrippet .action {
	padding-right: 5%;
}

.scrippet .character {
	margin-left: 40%;
}

.scrippet .dialogue {
	margin-left: 25%;
	padding-right: 25%;
}

.scrippet .parenthetical {
	margin-left: 32%;
	padding-right: 30%;
}

.dialogue + .parenthetical {
	padding-bottom: 0;
}

.scrippet  .transition {
	padding-top: 3ex;
	margin-left: 65%;
	padding-bottom: 1.5ex;
}
